input{
  width: 100%;
}


.forstyle{
  padding: 10px;
}

body{
  background-color: #d2d2d2;
  padding: 10px;
}

.custom-container{
  background-color: #fafafa;
  padding: 10px 25px 25px 25px;
  box-shadow: 0px 3px 20px 5px rgb(0 0 0 / 7%) ;
border-radius: 12px;
position: relative;
margin: 5% 10%;


}

.btn-shine {
  font-weight: 800;
  text-align: center;
  font-size: 20px;
  /* font-family: Hack, sans-serif; */
  text-transform: uppercase;
  background: linear-gradient(90deg, #fff, #000000eb, #ffffff);
  letter-spacing: 5px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* background-repeat: no-repeat; */
  background-size: 80%;
  animation: shine 5s linear infinite;
  position: relative;
}

@keyframes shine {
  0% {
    background-position-x: -500%;
  }

  100% {
    background-position-x: 500%;
  }
}

.headingClass{
  background: cadetblue;
  color: white;
  font-weight: 400;
  border-radius: 5px 0px 0px 5px;
  padding: 5px 15px;
}


@media (max-width: 850px){

  .snackbar-model {
 margin: 5% !important;
  }
}

@media (min-width: 1200px){
.custom-container{
    max-width: 1140px;
}
}

.custom-row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}

@media (min-width: 768px){
.custom-md-12 {
    flex: 0 0 auto;
    width: 100%;
}
.custom-md-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}
.custom-md-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}
.custom-md-6 {
  flex: 0 0 auto;
  width: 50%;
}
.custom-md-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}
.custom-md-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}
.custom-md-9 {
  flex: 0 0 auto;
  width: 75%;
}
.custom-md-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}
.custom-md-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}
}

.custom-form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0px 5px 5px 0px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.custom-btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.custom-btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.custom-btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.custom-btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
.custom-btn-success:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}
.custom-btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

/* The Modal (background) */
.custom-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.custom-modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  /* background-color: white; */
  /* color: #fff; */
  text-align: center;
  border-radius: 12px;
  padding: 16px;
  position: fixed;
  z-index: 2000;
  right: 10%;
  top: 10%;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {right: 10%; opacity: 1;}
}

@keyframes fadein {
  from {right: 0; opacity: 0;}
  to {right: 10%; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {right: 10%; opacity: 1;} 
  to {right: 0; opacity: 0;}
}

@keyframes fadeout {
  from {right: 10%; opacity: 1;}
  to {right: 0; opacity: 0;}
}

.snackbar-model {
 

  background-color: white;
  /* color: #fff; */
  /* text-align: center; */
  border-radius: 5px;
  
  position: fixed;
  z-index: 1051;
  
  top: 10%;
  font-size: 17px;
  min-width: 500px;
  margin: 5% 20%;
}

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;

}

.model-header{
  padding: 15px;
  border-bottom: solid 1px grey;
    background-color: #7d7df5;
    border-radius: 4px 4px 0px 0px;
    color: white;
}
.model-body{
  padding: 15px;
}
.model-footer{
  border-top: solid 1px #c3bbbb;
    text-align: right;
  padding: 15px;
}

